:root {
  --border-width: 20px;
}

body {
  background-color: black;
}

.container {
  border: var(--border-width) solid orange;
  display: flex;
  flex-direction: column;
  height: 97vh;
  padding: 2vw;

}

.container div {
  border: var(--border-width) solid pink;
  height: 33vh;
  
  
}
